@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background: radial-gradient(circle, rgb(13, 0, 255), rgb(0, 49, 23), rgb(5, 0, 55));


}

header {
    background: linear-gradient(50deg, rgb(0, 0, 56), rgb(2, 68, 68), rgb(0, 37, 0), rgb(45, 53, 1), rgb(0, 0, 56));
    height: 70px;
}

.navbar {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.navbar h1 {
    background: radial-gradient(circle, #00ff6a, rgb(211, 181, 34),#00b3ff );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: clamp(2rem, 8vw, 3rem);
    font-family: "Kablammo", cursive;
}



.main_page {
    background: linear-gradient(50deg, rgb(0, 0, 56), rgb(47, 155, 155), black, rgb(148, 166, 46), rgb(0, 0, 56));
    height: 100%;

    padding: 2rem 2rem 0.5rem 2rem;
    border-radius: 2rem;
    max-width: 800px;
    margin: 1rem auto 0 auto;


}

@media screen and (max-width: 600px) {
    .main_page {
        padding: 0.5rem;
    }

}


.detail {
    background: linear-gradient(35deg, rgb(0, 49, 49), rgb(0, 0, 0), rgb(0, 11, 93));
    display: grid;

    justify-content: center;
    align-content: center;
    justify-items: center;
    border-bottom: 2px solid goldenrod;
    border-radius: 2rem 2rem 0 0;
    color: wheat;
    /* height: fit-content; */
    padding: 2rem 0 0.5rem 0;

    position: relative;
}

#heading {

    font-size: clamp(1.8rem, 9vw, 3.5rem);
    text-align: center;
}

#msg {
    font-size: clamp(0.6rem, 3vw, 1.2rem);
    font-family: cursive;
    font-weight: bolder;
    color: rgb(133, 192, 240);
    text-align: center;

}

#start_btn {
    padding: 3px 20px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 2rem;
    background: radial-gradient(rgb(249, 45, 14), rgb(149, 22, 22));
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    transition: all 0.1s;
    margin-top: 0.5rem;
    width: 10rem;
    cursor: pointer;
}

.timer {
    display: flex;
    color: aliceblue;
    font-weight: normal;
    margin-top: 0.3rem;
    font-size: 1.5rem;

}

.digit {
    display: inline-block;
    animation: flip 0.6s ease-in-out;
    transform-origin: bottom;
    color: red;
    font-weight: bolder;

}

@keyframes flip {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;
    }
}




.game_display {

    background-image: url('src/background.png');
    background-size: cover;
    height: 350px;
    border-radius: 0 0 1rem 1rem;
    width: 100%;
    position: relative;
    display: grid;
    place-items: center;

    overflow: hidden;


}

#box {
    width: 65px;
    height: 60px;
    cursor: pointer;
    display: none;
    position: absolute;
    z-index: 1;

    justify-self: start;
    align-self: flex-start;

}

#box video {
    width: 100%;
    height: 100%;
    filter: brightness(1.1) contrast(1.1) saturate(1.8) sepia(0.1);

    object-fit: cover;
}

.result_sec {
    position: absolute;
    z-index: 1;
    width: 50%;
    min-height: 250px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);


    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: saturate(140%);
    -webkit-backdrop-filter: saturate(140%);
    border: 2px solid whitesmoke;
    box-shadow: 1px 1px 5px 1px rgb(50, 47, 42);

    font-weight: bolder;
    font-family: 'Fredoka One', cursive;
    font-size: 2rem;
    gap: 1rem;
    /* padding: 3px 1rem; */
    border-radius: 3rem;
    padding: 1rem 1rem;
    animation: anime 0.9s cubic-bezier(0.41, 0.63, 0.58, 0.62);


}

@media screen and (max-width:650px) {
    .result_sec {
        width: 70%;
    }
}

@keyframes anime {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.result_sec #count {
    color: #002f09;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: clamp(1.2rem, 5vw, 1.8rem);
    /* text-shadow: 2px 2px 2px rgb(0, 0, 0); */
    display: block;
}

.result_sec #resultP {
    color: #00ff2f;
    font-size: clamp(1.2rem, 5vw, 1.8rem);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    display: block;
}

.result_sec #thank {
    color: #002f09;
    font-size: clamp(1.2rem, 5vw, 1.8rem);
    text-shadow: 2px 1px 2px rgb(69, 36, 7);
    display: block;
}

.volSlider {
    display: grid;
    /* width: 100%; */
    margin: 0.3rem 0;
    position: absolute;
    left: 0.6rem;
    bottom: 0;
    font-size: 5rem;


}

#audioCon1 {
    padding: 0 8px;
    background-color: #410000;
    border: 2px solid rgb(26, 0, 0);
    opacity: 0.8;

}


.audioCon {
    justify-self: left;
    /* padding: 0 8px; */

    width: max-content;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: bolder;

    border-radius: 10px 5px;
    box-shadow: 2px 2px 4px black;
    display: block;
}

#resCon {
    width: max-content;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 1.6rem;
    background-color: #1d2c20;
    border: 2px solid rgb(0, 26, 5);
    border-radius: 10px 5px;
    padding: 0 0.6rem;

    display: block;
}

#audioCon2 {
    padding: 6px 5px;
    background-color: #002f09;
    border: 2px solid rgb(0, 26, 5);
}

@media screen and (min-width: 500px) {
    #audioCon2 {
        display: none;
    }
}




.controller {
    display: none;
    background-color: rgba(206, 255, 219, 0.6);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: saturate(140%);
    -webkit-backdrop-filter: saturate(140%);
    gap: 10px;
    padding: 10px;
    border-radius: 15px 10px;
    color: rgb(79, 67, 5);
    font-weight: bolder;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    animation: showing 0.3s linear;
    /* width: fit-content; */

}

@keyframes showing {
    0% {
        opacity: 0;
        transform: scaleY(0);
    }

    100% {
        opacity: 1;
        transform: scaleY(1);
    }

    0% {
        opacity: 0;
        transform: scaleY(0);
    }
}

.controller div {
    display: flex;
    gap: 10px;
    justify-content: space-around;


    padding: 0.6rem;
    border-radius: 5rem;

    /* justify-content: space-around; */

}

.musicBg {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.controller div label {
    width: 100%;
    background-color: rgba(206, 255, 219, 0.4);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    padding: 0.3rem;
    border-radius: 5rem 0 0 5rem;
}


.highScore {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0.1rem;
    width: fit-content;
    font-family: sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

    position: absolute;
    margin: 0.3rem 0;
    right: 0.5rem;
    bottom: 0;

}

@media screen and (max-width: 450px) {
    .highScore {
        bottom: 0;
        right: 0;
        margin: 0;
    }

    #start_btn {
        margin-bottom: 1.6rem;
    }

}

.highScore h3 {

    font-size: 1rem;
    color: #333;

}

#clicked,
#avgScore {
    color: rgb(0, 50, 0);
    margin: 0 0.5rem;
    font-size: 0.95rem;
}

.features {
    margin-top: 1rem;
    margin: 1rem 0.5rem;
    background: radial-gradient(circle, rgb(181, 255, 202), rgb(190, 172, 255));
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    font-size: clamp(1rem, 4vw, 1.5rem);
    font-weight: bolder;
    color: rgb(26, 67, 33);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}