*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main_page{
    background-color: wheat;
    height: 100%;
    margin: 5rem;
    padding: 2rem;
    border-radius: 2rem;
    width: 800px;
    margin: 2rem auto;


}

.detail{
    background: linear-gradient(35deg, rgb(0, 49, 49) , rgb(0, 0, 0), rgb(0, 11, 93));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 2rem  2rem 0 0;
    color: wheat;
    /* height: fit-content; */
    padding: 2rem 2rem 1rem;
  
    
}

#heading{
    font-size: 4rem;
}
#msg{
    height: 2rem;
    font-family:cursive;
    font-weight: bolder;
    color: rgb(133, 192, 240);

}
#start_btn{
    padding: 3px 20px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 2rem;
    background: radial-gradient( rgb(249, 45, 14), rgb(149, 22, 22));
    color: whitesmoke;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    transition: all 0.1s;
    margin-top: 1rem;
    width: 10rem;
    cursor: pointer;
}
.timer{
    display: flex;
    margin-top: 1rem;
    font-size: 1.5rem;
}


.game_display{
    
    background-color:aliceblue;
    height: 350px;
    border-radius: 0 0 1rem 1rem;
    width: 100%;
    position: relative;
    display: grid;
  place-items: center;
    /* margin-top: 0;
    padding-top: 18rem;
    padding-left: 49rem; */
    overflow: hidden;
    /* text-align: center; */
    
}

#box{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 100%;
    display: none;
    position: absolute;
    justify-self: start;
    align-self:flex-start;
    background-color: red;
    


}

.result_sec{
    position: absolute;
    z-index: 1;
    width: 50%;
    height: 250px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 167, 3);
    color: rgb(56, 37, 0);
    font-weight: bolder;
    font-family: cursive;
    font-size: 2rem;
    gap: 1rem;
    padding: 3px 1rem;
    border-radius: 3rem;
    padding-bottom: 3px;
    animation: anime 0.6s cubic-bezier(0.41, 0.63, 0.58, 0.62);
    
    
}

@keyframes anime {
    0%{
        transform: scale(0.5);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

.result_sec p{
    color: red;
    display: block;
}